# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# Excluded: Required by dynamically-linked binaries
# *.so
# *.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
# Excluded: Useful in dynamic linking prebuilt libraries
# *.lai
# *.la
# *.a
# *.lib

# Executables
*.exe
*.out
*.app

# Build artifacts
build/

# VSCode configs
.vscode/