[submodule "deps/SDL2/SDL"]
	path = deps/SDL2/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "deps/GLM/glm"]
	path = deps/GLM/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "deps/SDL2_ttf/SDL_ttf"]
	path = deps/SDL2_ttf/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = SDL2
[submodule "deps/SDL2_ttf/freetype"]
	path = deps/FreeType/freetype/
	url = https://github.com/freetype/freetype.git
	branch = master
[submodule "deps/FreeType/freetype"]
	path = deps/FreeType/freetype
	url = https://github.com/freetype/freetype.git
	branch = master
[submodule "deps/SDL2_image/SDL_image"]
	path = deps/SDL2_image/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
